<div align="center">

# my-stars

🤩 我的 Star 列表，每天凌晨自动更新 🤩

</div><br>

## 目录

1. [语言分类](#语言分类)
2. [贡献](#贡献)
3. [许可证](#许可证)

## 语言分类

<% 
  // Create a dictionary to store repositories by language
  let languages = {};
  for(let [language, repositories] of stars) {
    if (!language) {
      language = 'other'; // Default to 'other' if language is undefined
    }
    if (!languages[language]) {
      languages[language] = [];
    }
    languages[language] = languages[language].concat(repositories);
  }
  for(let [language, repositories] of Object.entries(languages)) { 
%>
### <%= language %>
  <% if (repositories.length === 0) { %>
    - 暂无相关仓库
  <% } else { %>
    <% for(let repo of repositories) { %>
    - [<%= repo.full_name %>](<%= repo.html_url %>) - <%= repo.description %>
    <% } %>
  <% } %>
<% } %>

## 贡献

欢迎提出建议和贡献代码！请查看 [贡献指南](CONTRIBUTING.md)。

## 许可证

本项目采用 [MIT 许可证](LICENSE)。
