name: Update awesome list

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '30 22,6,14 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Awesome generator
        uses: simonecorsi/mawesome@v2
        with:
          api-token: ${{ secrets.awesomestars }}
          github-email: "2071916845@qq.com"
          template-path: "template/README.ejs"
          github-name: "it985"
